body{
    background-color: rgb(233, 233, 231);
}

.grid-container {
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
     
    margin: 100px auto ;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;  

  }
  .grid-item {
    
    flex: 1 1 auto; 
    border: 1px solid;
    height: 50px;  
    color: #c22323;
  }
  .wrapper{
    border: 5px solid firebrick;
   
     width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 0;
  }
.reset{
  width: 10%;
  height: 50px;
  background-color: #4f1a1a;
  color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 17%;
  }

.project{
  font-size: 30px;
  font-weight: bolder;
}


